.message{
    display: flex;
    margin-top: 20px;
    flex-direction: column;
}

.messageImg{
    border-radius: 50%;
    object-fit: cover;
    height: 32px;
    width: 32px;
    margin-right: 10px;
}

.messageTop{
    display: flex;
}

.messageText{
    padding: 10px;
    border-radius: 20px;
    background-color: #1877f2;
    color: white;
    max-width: 300px;
    word-wrap: break-word
}

.messageBottom{
    margin-top: 10px;
    font-size: 12px;
}

.message.own{
    align-items: flex-end;
}

.message.own .messageText{
    background-color: rgb(238, 232, 232);
    color:black
}